* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color:seashell;
  opacity:0.9;
  font-family: Helvetica;
  font-size: 22px;
  display: block;
  margin: 0;
  padding: 0;
}
.cozy {
  display: block;
}
header {
  width: 100%;
  position: fixed;
  color: grey;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}
.logo {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}
ul {
  list-style: none;
  text-align: right;
  float: right;
}
li {
  text-decoration: underline;
  display: inline-block;
  padding: 20px 10px;
}
.mission {
  display: flex;
  height: 700px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;

}
.image-text {
  position: relative;
  background-color: black;
  text-align: center;
  margin: auto;
  width: 100%;
}
h2, h4 {
  margin: 0;
  padding: 10px;
}
.teas-header {
  text-align: center;
}
div.teas {
  width: 1000px;
  padding-top: 50px;
}
.tea {
  text-align: center;
  margin: 15px;
}
.tea img {
  padding-bottom: 10px;
  width: 300px;
  height: 200px;
}
#teas-container {
  flex-wrap: wrap;
  justify-content: center;
}
.container{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.teas{
  margin: auto;
  max-width: 1000px;
  padding-top: 50px;
}
.tea h4{
  margin: 0;
  padding: 0;
}
.locations h2 {
  display: block;
  width: 100%;
  text-align: center;
}
.locations{
  display:flex;
  margin: auto;
  max-width: 1200px;
  height:500px;
  background-image: url('./images/img-locations-background.jpg');
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.location {
  width: 300px;
  margin: 15px 20px;
  text-align:center;
  background-color: black;
}

.location p{
  line-height:70px;
}

.location h3{
  margin: 0;
  padding: 25px;
}
.header{
  display: block;
  width:100%;
  margin: 0;
  padding: 0;
}
.header h2{
  text-align:center;
  margin: 0;
  padding: 0;
}
.contact {
  text-align: center;
  height: 200px;
}
.footer {
  padding-left: 20px;
}
a {
  color: inherit;
}
.left{
  float: left;
}
.opacity {
  opacity: 1;
}
