* {
  margin: 0;
  padding: 0;
}
html{
  font-family: "Benne","Helvetica", Arial, sans-serif;
  font-size: 22px;
  line-height:normal;
}
body {
  background-color: black;
  color:seashell;
  opacity:0.9;
}
header {
  color: grey;
  max-height: 69px;
  border-bottom: 1px solid seashell;
}
.logo {
  height: 50px;
  padding: 10px;
}
ul {
  list-style: none;
  float: right;
}
li {
  text-decoration: underline;
  display: inline;
}
.mission {
  display: flex;
  height: 700px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;

}
.image-text {
  position: relative;
  opacity: 1;
  background-color: black;
  text-align: center;
}